[flake8]
max-line-length = 100
count = True
enable-extensions = Q I
ignore = examples/*
exclude = dist,build,*.pyc,build,*.egg,.git,.pytest_cache,.venv,docs,.tox,examples
per-file-ignores=
    tests/*:E5,E702

# flake8:quotes
inline-quotes = single
multiline-quotes = single

# flake8:import-order
import-order-style = appnexus
application-import-names = tests,quickbase_client
